CONFLUENT_CLOUD_API_KEY=sua_api_key_aqui
CONFLUENT_CLOUD_API_SECRET=seu_api_secret_aqui
POSTGRES_HOST=seu_host_postgres
POSTGRES_USER=cdc_user
POSTGRES_PASSWORD=sua_senha
POSTGRES_DATABASE=pagamentos
